<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="divHeader">
    
    <input type="text" placeholder="Search" class="busca">
    <label class="labelUser">Usuario</label>
</div>
<div class="divMenu">
    Playlists<br><br>

    <a routerLink="/amador">Amateur</a>
    

    
</div>
<div class="divMusicas">
    

    <img src="assets/play.jpeg" class="imgPlay"><h3>Nome da play List</h3>
    <p>Informacoes sobre</p>

    <p>Aqui fica as musicas para reproducao</p>


</div>

<div class="divBlock">
    <input type="button" value="prev" class="btn">
    <input type="button" value="play" class="btn">
    <input type="button" value="next" class="btn">
</div>