.titulo{
    color: #32c924;
    width: 50%;
    float: left;
}

.labelUser{
    float: right;
    padding-top: 1%;
}

.divHeader{
    max-height: 10%;
}

.busca{
    border-top: 4% !important;
}
.divMenu{
    padding-top: 2%;
    float: left;
    max-width: 25%;
}
.divMusicas{
    width: 74%;
    
    
}
.imgPlay{
  width: 40%;
  padding: 5%; 
  max-width: 200px;
  max-height: 200px;
}