<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="divHeader">
    
    <input type="text" placeholder="Search" class="busca">
    <label class="labelUser">Usuario</label>
</div>
<div class="divMenu">
    Playlists<br><br>

    <a>Musicas Amadoras</a>
    
</div>
<div class="divMusicas">
    <img src="assets/play.jpeg" class="imgPlay">

</div>

<div class="divBlock">
    <input type="button" value="prev" class="btn">
    <input type="button" value="play" class="btn">
    <input type="button" value="next" class="btn">
</div>