.titulo{
    text-align: center;
     color: #32c924;
 }
 .inputs{
     margin-left: 10%;
     padding-left: 30%;
     padding-top: 2%;
 }
 .button{
     float: right;
 }
 .divButton{
     width: 50%;
     margin-left: 5%;
 }