<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<h3 class="titulo">Spotifree</h3>
<div class="inputs">
    <input type="text" placeholder="E-mail" class="input"><br/><br/>
    <input type="password" placeholder="Senha" class="input"><br/><br/>
    Data de nascimento:
    <input type="date" class="datepicker">
    <div>
            <br/>
        <input type="button" class="registrar" class="btn" value="Registrar-se" (click)="registrarse()">
    </div>
</div>
