<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="logo" style="background-image: url(../../assets/logo-spotifree.jpg)">
    <input type="button" value="entrar" class="btn" id="button-sigIn" (click)="login()">
    <input type="button" value="inscrever-se" id="button-registry" class="btn" (click)="inscreverse()">

    <div style="text-align: center;">
    <h1 class="spotifree">Spotifree</h1>

    <h2 class="musica">Música para todos.</h2>


    <h3 class="milhoes">Milhões de músicas à sua escolha</h3>
    </div>
</div>